<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymcompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".plan.CurrentPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.ExerciseDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workoutSummary.WorkoutSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workoutLog.WorkoutLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plan.PlanOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workout.WorkoutOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plan.WorkoutSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plan.CreatePlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.CreateExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.ExercisesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workout.CreateWorkoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".authentication.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>